[Settings]

#服务名称,默认BHService
ServiceName=ZBHService

#被监控的进程的个数，默认0
ProcCount=2

#循检周期，单位秒，默认60
CheckProcess=2

#重启电脑前需要停止的服务名，默认为MSSQLSERVER
ServiceStopBeforeRebootComputer=MSSQLSERVER
[Process0]

#被监控进程可执行程序的完整路径
CommandLine=E:\test\it\Release\Server\DseSvr.exe

#被监控程序正常启动所需的完整路径,默认是被监控程序所在目录
#WorkingDir= E:\test\it\Release\Server

#启动程序之前等待时间,单位秒，默认5
PauseStart=5

#启动程序后等待时间,单位秒，默认5
PauseAfterStart=20

#停止程序前等待时间,单位秒，默认1
PauseEnd=5

#停止程序后等待时间,单位秒，默认5
PauseAfterEnd=5

#是否使用图形界面,请保持此参数不变,默认1
UserInterface=1

#是否自动启动该程序,1表示启动,0表示不自动启动,默认1
Restart=1

#是否自动启动电脑,1表示启动,0表示不自动启动，默认0
Reboot=0

#喂狗文件所在完整路径，默认为被监控程序目录下，主文件名相同的txt文件
#CheckFileName=E:\test\it\Release\Server\DseSvr.txt

#喂狗文件最大可接受的不被更新时间,默认60.如果CheckFileName文件在Timespan所设定的时长内未被更新，则自动启动程序将根据 Reboot以及Restart的设置来进行操作.
#此时间应该大于更新CheckFileName所需的时间总和（程序启动时间+更新程序触发时间）
Timespan=100

[Process1]
CommandLine=E:\test\it\Release\Server\HandleDataAssisant.exe
WorkingDir= E:\test\it\Release\Server
PauseStart=0
PauseAfterStart=20
PauseEnd=1
UserInterface=1
Restart=1
Reboot= 0
#CheckFileName=E:\test\it\Release\Server\HandleDataAssisant.txt
Timespan=200
